/*/* CSS Reset */
* {
	box-sizing: border-box;
}



/* Colors */


.qtext { /*pading for quick facts*/
	padding: 30px
}

/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}

a {
	color: #92f0b0 !important;
}

a:hover {
	color: gray;

}

body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	
}

main {
	background: linear-gradient(
	rgba(0, 0, 0, 0.75),
	rgba(128, 128, 128, 0.45)), url(../images/borderbg2.jpg);
	background-color: #d1e0d6;
	background-position: top;
	background-size: cover;
	background-repeat: repeat;
	border: 5px solid black;

	width: 50px;
	padding: 5px;
	border-radius: 40px;
	font-size: 13px;
	line-height: 1.6em;

	
	color: #dae3dc;


	
}

.textcolor {
	color: #b9bdc4;
}

.welcome-message {
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 300px;
	width: 95%;
	border: 2px solid gray;
	text-align: center;
}

.headertxt {
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 150px;
	width: 50%;
	border: 2px solid gray;
	text-align: center;
}


h4 {
	text-shadow: 1px 5px 25px red;
}

img {
	border: 5px solid black;
}

i {
	font-size: 50px;
}

div {
	justify-content: center !important;
	align-content: center !important;
	align-items: center !important;

}


/*Image*/

#rounder section main {
	width: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid navy;
}

/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}

#googleresponse {
	margin-top: 10px !important;

}


@media(max-width:360px){ 

#googleresponse {
	margin-top: 10px !important;

}

.googleresponse {
	margin-top: 10px !important;
}

}