/*/* CSS Reset */
* {
	box-sizing: border-box;
	
}



/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}

.texteffect {
	text-shadow: 1px 5px 25px #000000;
}



/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}

a {
	color: #92f0b0 !important;
}

body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	/*background: url(../images/bgbackground.jpg);*/

}

main {
	background-color: #d1e0d6;
	width: 50px;
	padding: 5px;
	border-radius: 40px;
	border: 5px solid black;

	background: linear-gradient(
	rgba(0, 0, 0, 0.75),
	rgba(0, 1, 1, 0.45)), url(../images/borderbg4.jpg);
	background-position: top;
	font-size: 13px;
	line-height: 1.6em;
	/*background-size: cover;
	background-repeat: no-repeat;*/
	color: #dae3dc;


	
}

h4 {
	text-shadow: 1px 5px 25px red;
}


img {
	border: 5px solid black;
}

i {
	font-size: 50px;
}

hr {
	color: gray;
}

.welcome-message {
	background-color: rgba(0,0,0,0.5);
	margin-top: 50px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 150px;
	width: 95%;
	border: 2px solid gray;
	text-align: center;
}

hr {
	color: gray;
}

/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}

