/*/* CSS Reset */
* h4 {
	box-sizing: border-box;
	text-shadow: 1px 5px 25px red;
}



/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}

/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}

a {
	color: #92f0b0 !important;
}

body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	/*background: url(../images/bgbackground.jpg);*/

}

main {
	background-color: #d1e0d6;
	background: url(../images/borderbg4.jpg);
	background-color: #d1e0d6;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	padding: 5px;
	border-radius: 40px;
	border: 5px solid black;
	color: #dae3dc;
	font-size: 13px;
	line-height: 1.6em;
	
}

.textdecorator {
	text-decoration: underline;
}

img {
	border: 5px solid black;
}


/*gallery*/

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  font-size: 10px;
  

}


div.gallery:hover {
  border: 1px solid black;
}

div.gallery img {
  width: 50%;
  height: auto;

}

div.desc {
  padding: 15px;
  text-align: center;
}

section {
	justify-content: center;
}

.p {
	display: block;
}

/*end of gallery*/

/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}*/