/*/* CSS Reset */
* {
	box-sizing: border-box;
	font-size: 13px;
	line-height: 1.6em;
}



/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}

.qtext { /*pading for quick facts*/
	padding: 30px
}

/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}

a {
	color: #92f0b0 !important;
}

a:hover {
	color: gray;

}

body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	font-size: 13px;
	line-height: 1.6em;

	
}

main {
	background: linear-gradient(
	rgba(0, 0, 0, 0.75),
	rgba(120, 120, 120, 0.45)), url(../images/borderbg2.jpg);
	background-color: #d1e0d6;
	background-position: top;
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	border: 5px solid black;

	width: 50px;
	padding: 5px;
	border-radius: 40px;
	font-size: 13px;
	line-height: 1.6em;

	
	color: #dae3dc;
	
}

.textcolor {
	color: #b9bdc4;
}

.welcome-message {
	background-color: rgba(0,0,0,0.5);
	margin-top: 10px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 200px;
	width: 95%;
	border: 2px solid gray;
	text-align: center;
}

h4 {
	text-shadow: 1px 5px 25px red;
}

img {
	border: 5px solid black;
}

i {
	font-size: 50px;
}

div {
	justify-content: center !important;
	align-content: center !important;
	align-items: center !important;

}


/*Image*/

#rounder section main {
	width: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid navy;
}

/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}