* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/*body {
	background: url(.../assets/images/landingpicture.jpeg);
}*/



.marker-text {
	font-family: 'Montserrat', serif;
	font-size: 20px;
}


/*.container-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.container-column {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

/*landing-page*/

/*Giving font colors and background*/
.landing-content {
	background: /*linear-gradient(
    rgba(192, 192, 192, 0.3),
    rgba(0, 88, 255, 0.45)
   ),*/ url(../images/landing-content.jpeg);
	/*background-size: cover;*/
	height: 100vh;
	color: gray; /*giving colors*/
	background-size: left;
	background-position: left;
	background-repeat: no-repeat;


}

.landing-content h1 {
    margin-bottom: 30px;
	font-size: 50px;
}

span {
    font-size: 15px;
}


/*buttons*/

.landing-content button img {
    margin-top: 30px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 12px 25px;
    border: 0px solid #556301;
    border-radius: 10px;
  
    background: #074b6e;
    background: linear-gradient(to bottom, #074b6e, #2e4740);
    text-shadow: #323a01 1px 1px 1px;
    font: normal normal normal 20px;
   
    text-decoration: none;
    background: url(../images/vapeon.jpg);
  

}

.landing-content button:hover,
.landing-content button:focus {
    border: 0px solid ##647401;
    background: #c0df02;
    background: linear-gradient(to bottom, #074b6e, #4a7569);
    
    text-decoration: underline;
    outline: 0;
}
.landing-content button:active {
    background: #556301;
    background: linear-gradient(to bottom, #556301, #556301);
}

#landing-content-link a{
	height: 25px;
	width: 100px;
}



/*responsive - for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        font-size: 30px;
    }

    .landing-content h3 {
        font-size: 20px;
    }

    span {
        font-size: 30px;
    }

}

/*responsive - for mobile*/
@media only screen and (max-width: 400px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        margin-top: 30px;
        font-size: 25px;
    }

    .landing-content h3 {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

}