/*/* CSS Reset */
* {
	box-sizing: border-box;
}



/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}

.fa-facebook {
	color: black;
}

.fa-instagram {
	color: black;
}

.fa-twitter {
	color: black;
}

/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}

a {
	color: #92f0b0 !important;
}

body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	/*background: url(../images/bgbackground.jpg);*/

}

main {
	background: url(../images/borderbg.jpeg);
	background-color: #d1e0d6;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	width: 50px;
	padding: 5px;
	border-radius: 40px;
	border: 5px solid black;
	color: #dae3dc;
	font-size: 13px;
	line-height: 1.6em;


	
}

.textcolor {
	color: #b9bdc4;
}

h4 {
	text-shadow: 1px 5px 25px red;
}

img {
	border: 5px solid black;
}

i {
	font-size: 50px;
}

div {
	justify-content: center !important;
	align-content: center !important;
	align-items: center !important;
}

/*Image*/

#rounder section main {
	width: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid navy;
}

/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}*/