/* CSS Reset */
* {
	box-sizing: border-box;
	
}



/* Colors */
.bg-primary {
	background-color: #d75118 !important; /* !important will prioritize the value of the property */ 
}

.bg-secondary {
	background-color: #475764 !important;
}

.promo {
	background-color: #ff9900 !important;
	border-color: #ff9900;
}


a { /*giving color to links*/
	color: #92f0b0 !important;
}

/* Navbar */
#navbar ul li .nav-link {
	color: blue;
}



body {
	font-family: 'Lexend Tera', sans-serif;
	background-color: black;
	/*background: url(../images/bgbackground.jpg);*/
	color: #dae3dc;
	position: relative;

	background: url(../images/borderbg2.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;

}

.carousel-container {
	width: 200px;
}

.container-centered{ /*this handles the picture position*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
	padding: 15px;
}

.textsize {
	font-size: 10px;
	font-weight: normal;
}

.texteffect h4 {
	text-shadow: 1px 5px 25px #000000;
}

.welcome-message {
	background-color: rgba(0,0,0,0.5);
	margin-top: 50px;
	padding: 20px;
	margin-bottom: 7.5px;
	height: 200px;
	width: 95%;
	border: 2px solid gray;
	text-align: center;
}

section main {
	background-color: #d1e0d6;
	display: flex;

	width: 50px;
	padding: 5px;
	border-radius: 40px;
	border: 5px solid black;


	
	/*color: #dae3dc;*/
}



img {
	border: 5px solid black;
}

i {
	font-size: 50px;
}

hr {
	background-color: gray;
}



/*Image*/

#rounder section main {
	width: 50px;
	padding: 5px;
	border-radius: 50px;
	border: 2px solid navy;
}

.mygallery { /*this handles the picture values*/
	margin: 0px 10px;
	background: url(../images/wood.jpg);
	background-size: cover;
	height: 310px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid gray;
	color: white;
	font-weight: bold;
	padding: 20px;

}



.container-column {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*Responsiveness*/

.media img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.media .details p {
	font-size: 10px;
}